NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_SEPOLIA_RPC_URL=
NEXT_PUBLIC_NO_MARKET_ADDRESS=
NEXT_PUBLIC_NO_MARKET_DEPLOY_BLOCK=
NEXT_PUBLIC_ZAMA_SUBGRAPH_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_UMA_LIVENESS_SECONDS=7200
NEXT_PUBLIC_MARKET_CREATION_DEPOSIT_WEI=0
NEXT_PUBLIC_ZAMA_TIMED_MARKETS=false
NEXT_PUBLIC_ZAMA_MARKET_CREATION_DEPOSIT_WEI=0

NEXT_PUBLIC_ARC_RPC=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_EXPLORER=https://testnet.arcscan.app
NEXT_PUBLIC_ARC_NOMARKET_ADDRESS=
NEXT_PUBLIC_ARC_DEPLOY_BLOCK=
NEXT_PUBLIC_ARC_SUBGRAPH_URL=
NEXT_PUBLIC_ARC_UMA_RESOLVER_ADDRESS=
NEXT_PUBLIC_ARC_UMA_OOV2_ADDRESS=
NEXT_PUBLIC_ARC_UMA_FINDER_ADDRESS=
NEXT_PUBLIC_ARC_UMA_COLLATERAL_ADDRESS=
NEXT_PUBLIC_ARC_UMA_TIMER_ADDRESS=
NEXT_PUBLIC_ARC_UMA_MOCK_ORACLE_ADDRESS=
NEXT_PUBLIC_ARC_MOCK_OOV3_ADDRESS=
NEXT_PUBLIC_ARC_TIMED_MARKETS=false
NEXT_PUBLIC_ARC_MARKET_CREATION_DEPOSIT_WEI=0

FREEMODEL_API_KEY=
FREEMODEL_API_BASE_URL=https://freemodel.dev/v1
FREEMODEL_MODEL=claude-sonnet-4.6
UMA_BOT_AUTO_PROPOSE=false
UMA_BOT_PRIVATE_KEY=
UMA_BOT_CRON_SECRET=
CRON_SECRET=

SEPOLIA_RPC_URL=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=

ARC_TESTNET_RPC=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
ARC_UMA_RESOLVER_ADDRESS=
UMA_OOV2_ADDRESS_ARC=
ARC_UMA_FINDER_ADDRESS=
ARC_UMA_COLLATERAL_ADDRESS=
ARC_UMA_TIMER_ADDRESS=
ARC_UMA_OOV2_TIMER_ADDRESS=
ARC_UMA_MOCK_ORACLE_ADDRESS=
ARC_UMA_LIVENESS_SECONDS=60
ARC_NOMARKET_ADDRESS=
ARC_MARKET_CREATION_DEPOSIT_WEI=0

CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_ARC_WALLET_SET_ID=
CIRCLE_ARC_WALLET_ID=
CIRCLE_ARC_WALLET_ADDRESS=
CIRCLE_ARC_MOCK_OOV3_CONTRACT_ID=
CIRCLE_ARC_MOCK_OOV3_ADDRESS=
CIRCLE_ARC_UMA_TIMER_CONTRACT_ID=
CIRCLE_ARC_UMA_TIMER_ADDRESS=
CIRCLE_ARC_UMA_FINDER_CONTRACT_ID=
CIRCLE_ARC_UMA_FINDER_ADDRESS=
CIRCLE_ARC_UMA_IDENTIFIER_WHITELIST_CONTRACT_ID=
CIRCLE_ARC_UMA_IDENTIFIER_WHITELIST_ADDRESS=
CIRCLE_ARC_UMA_ADDRESS_WHITELIST_CONTRACT_ID=
CIRCLE_ARC_UMA_ADDRESS_WHITELIST_ADDRESS=
CIRCLE_ARC_UMA_STORE_CONTRACT_ID=
CIRCLE_ARC_UMA_STORE_ADDRESS=
CIRCLE_ARC_UMA_COLLATERAL_CONTRACT_ID=
CIRCLE_ARC_UMA_COLLATERAL_ADDRESS=
CIRCLE_ARC_UMA_MOCK_ORACLE_CONTRACT_ID=
CIRCLE_ARC_UMA_MOCK_ORACLE_ADDRESS=
CIRCLE_ARC_UMA_OOV2_CONTRACT_ID=
CIRCLE_ARC_UMA_OOV2_ADDRESS=
CIRCLE_ARC_UMA_RESOLVER_CONTRACT_ID=
CIRCLE_ARC_UMA_RESOLVER_ADDRESS=
CIRCLE_ARC_NOMARKET_CONTRACT_ID=
CIRCLE_ARC_NOMARKET_DEPLOY_TX_ID=
CIRCLE_ARC_NOMARKET_ADDRESS=


UMA_OPTIMISTIC_ORACLE_V3=
UMA_CURRENCY=
UMA_BOND_WEI=0
UMA_LIVENESS_SECONDS=7200
UMA_ASSERTION_IDENTIFIER=0x0000000000000000000000000000000000000000000000000000000000000000
UMA_DOMAIN=0x0000000000000000000000000000000000000000000000000000000000000000
